{% extends 'base.html.twig' %}

{% block body %}
    <h1>States list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for state in states %}
            <tr>
                <td><a href="{{ path('states_show', { 'id': state.id }) }}">{{ state.id }}</a></td>
                <td>{{ state.state }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('states_show', { 'id': state.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('states_edit', { 'id': state.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('states_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
