{% extends 'base.html.twig' %}

{% block body %}
    <h1>Icat list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for icat in icats %}
            <tr>
                <td><a href="{{ path('icat_show', { 'id': icat.id }) }}">{{ icat.id }}</a></td>
                <td>{{ icat.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('icat_show', { 'id': icat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('icat_edit', { 'id': icat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('icat_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
